name: CI

on: [push]
jobs:
  Build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04 , ubuntu-16.04]
        toolkit: [10.1.105_418.39]
    steps:
        # Driver Install instructions: https://gist.github.com/wangruohui/df039f0dc434d6486f5d4d098aa52d07#install-nvidia-graphics-driver-via-runfile
        # Toolkit Runfile flags: https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#runfile-advanced
      - name: Install Toolkit
        run: |
          TK_PATH="${{ matrix.toolkit }}"
          TK_VERSION="${TK_PATH:0:4}"
          echo "Toolkit path: $TK_PATH"
          echo "Toolkit version: $TK_VERSION"
          wget https://developer.nvidia.com/compute/cuda/${TK_VERSION}/Prod/local_installers/cuda_${TK_PATH}_linux.run
          sudo apt-get install build-essential
          chmod +x cuda_${TK_PATH}_linux.run 
          sudo ./cuda_${TK_PATH}_linux.run --silent --toolkit 
          
      - uses: actions/checkout@v2
     
      - name: Build 
        run: |
          sudo apt install tree
          tree /
          mkdir -p build
          cmake -DCMAKE_CUDA_COMPILER=/usr/local/cuda/bin/nvcc -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DCMAKE_BUILD_TYPE=Debug -DCUB_TUNING_TYPE=$type -S $SourceDir -B $BuildDir
