name: CI

on: [push]
jobs:
  Build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04 , ubuntu-16.04]
        driver: [440.64]
    steps:
      - uses: actions/checkout@v2
        # Driver Install instructions: https://gist.github.com/wangruohui/df039f0dc434d6486f5d4d098aa52d07#install-nvidia-graphics-driver-via-runfile
      - name: Install Driver
        run: |
          wget http://us.download.nvidia.com/XFree86/Linux-x86_64/${{ matrix.driver }}/NVIDIA-Linux-x86_64-${{ matrix.driver }}.run 
          sudo apt-get install build-essential gcc-multilib dkms xorg xorg-dev
          chmod +x NVIDIA-Linux-x86_64-440.64.run 
          sudo ./NVIDIA-Linux-x86_64-440.64.run --dkms -s 
