name: CI

on: [push]
jobs:
  Build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04 , ubuntu-16.04]
        driver: [440.64]
        toolkit: [10.1.105_418.39]
    steps:
      - uses: actions/checkout@v2
        # Driver Install instructions: https://gist.github.com/wangruohui/df039f0dc434d6486f5d4d098aa52d07#install-nvidia-graphics-driver-via-runfile
        # Toolkit Runfile flags: https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#runfile-advanced
      - name: Install Driver
        run: |
          TK_PATH="${{ matrix.toolkit }}"
          TK_VERSION="${TK_PATH:0:4}"
          echo "Toolkit path: $TK_PATH"
          echo "Toolkit version: $TK_VERSION"
          wget https://developer.nvidia.com/compute/cuda/${TK_VERSION}/Prod/local_installers/cuda_${TK_PATH}_linux.run
          sudo apt-get install build-essential
          chmod +x cuda_${TK_PATH}_linux.run 
          sudo ./cuda_${TK_PATH}_linux.run --silent --toolkit 
          # wget http://us.download.nvidia.com/XFree86/Linux-x86_64/${{ matrix.driver }}/NVIDIA-Linux-x86_64-${{ matrix.driver }}.run 
          # sudo apt-get install build-essential gcc-multilib dkms xorg xorg-dev
          # chmod +x NVIDIA-Linux-x86_64-440.64.run 
          # sudo ./NVIDIA-Linux-x86_64-440.64.run --dkms -s 
